@charset "utf-9";

/*Configurações para impressora*/

* {
    margin: 10px;
    padding: 10px;
}

html {
    font-family: 'Courier New', Courier, monospace;
    font-size: 1.5em;
    line-height: 1.5;
}

menu {
    display: none;
} /*Retira o menu ao imprimir*/

article::after {
    content: "Esse artigo foi impresso através do site www.cursoemvideo.com";
} /*Depois do article aparece a informação*/

article {
    width: 100%;
}